body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #1e1e2f;
  color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  background-color: #282a36;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

h1 {
  font-size: 1.8em;
  margin-bottom: 20px;
  color: #ff79c6;
}

.frage-id {
  font-size: 0.8em;
  color: #bd93f9;
  margin-top: -10px;
}

p {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: #f8f8f2;
}


.button-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}

button {
  padding: 10px 20px;
  font-size: 1em;
  font-weight: bold;
  color: #1e1e2f;
  background-color: #50fa7b;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #40e06b;
}

button:focus {
  outline: none;
}


.reload-button {
  background-color: #ff5555;
  color: #f3f3f3;
}

.reload-button:hover {
  background-color: #ff4444;
}

.disabled-button {
  background-color: #888; 
  color: #ccc; 
  cursor: not-allowed;
}

.disabled-button:hover {
  background-color: #888;
}

.input-section {
  margin-top: 50px;
  width: 90%;
  text-align: left;
}

.input-section h2 {
  font-size: 1em;
  color: #ff79c6;
  margin-bottom: 10px;
}

input[type="text"], input[type="number"] {
  width: calc(100% - 22px);
  padding: 10px;
  font-size: 1em;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  outline: none;
}

.aktueller-spieler {
  color: #bd93f9;
  font-weight: bold;
}

.mitspieler-button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 1em;
  background-color: #ff79c6;
  color: #1e1e2f;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.mitspieler-button:hover {
  background-color: #ff69b4;
}

.mitspieler-menu {
  margin-top: 20px;
  margin-top: 80;
  background-color: #282a36;
  color: #f8f8f2;
  padding: 45px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-width: 10px;
  border-color: #40e06b;
  width: 250px;
  z-index: 1000;
}

.mitspieler-menu h2 {
  font-size: 1.2em;
  color: #ff79c6;
  margin-bottom: 30px;
}

.input[type="text"] {
  padding: 10px;
  font-size: 1em;
  width: 100%;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

.add-spieler-button {
  margin-top: 5px;
  padding: 10px 20px;
  font-size: 0.9em;
  background-color: #50fa7b;
  color: #1e1e2f;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-spieler-button:hover {
  background-color: #40e06b;
}

.spieler-liste {
  list-style: none;
  padding: 0;
  margin-top: 30px;
}

.spieler-liste li {
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f8f8f2;
}

.remove-spieler-button {
  background-color: #ff5555;
  color: #f3f3f3;
  padding: 12px 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.8em;
}

.remove-spieler-button:hover {
  background-color: #ff4444;
}


@media (max-width: 600px) {
  h1 {
      font-size: 1.5em;
  }
  p {
      font-size: 1em;
  }
  button {
      font-size: 0.9em;
      padding: 10px 18px;
  }
}
